//Standard Colors
$color-white: #ffffff;
$color-black: #000000;

//Grey
$color-heading: #4c4c4c;
$color-grey-medium: #cccccc;
$color-grey-dark:#434c53;
$color-grey-pale: #e5e8e7;
$color-grey-light: #d5d9d8;
$color-quick-grey:#E5E5E5;

//Violet
$color-logo-violet: #CE21DC;
$color-nav-violet: #93019D;
$color-footer-violet:#A089FF;

//Orange & Red
$color-orange: #e75300;
$color-red: #bb0a30;
$color-burgundy: #c03;
$color-red-footer:#bb0a30;
$color-red-dark: #bb0a30;
$color-red-new: #bb0a30;

//Blue
$color-blue-header:#01649F;

//Pink
$color-footer-pink:#EBA6F1;

//Brown
$color-nav-text-brown:#392417;

//Search Colors
$color-white-dark: #E5E8E7;

//Footer
$color-footer-black:#25292C;